@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round');

// Import custom variables and Bulma overides
@import "./variables.scss";

// Import only what you need from Bulma
// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/base/_all.sass";
// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/title.sass";
// @import "bulma/sass/form/_all.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/layout/hero.sass";
// @import "bulma/sass/layout/section.sass";

body {
    position: relative;
    padding-bottom: 80px;
    min-height: 100vh;
}

.listing {

    &__title {
        display: block;
        &--input {
            display: block;
        }
    }
    
    &__description {
        display: block;

        &--input {
            display: block;
        }
    }
}

.listingForm {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 80px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    padding-bottom: 20px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 22px;
}

.logo {
    max-width: 150px;
    max-height: 150px;
}

.hero.is-fullheight {
    min-height: 85vh;
}

.hero.is-info {
    background-color: white;
    color: grey;
}

.hero .navbar {
  background-color: #ff6614;
}

.col {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.image-shadow {
    box-shadow: 5px 5px 20px;
    
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.hero.is-fullheight .hero-body, .hero.is-fullheight-with-navbar .hero-body, .hero.is-halfheight .hero-body {
    align-items: center;
    // display: block;
}

.landing-con {
    border: 2px solid rgb(187, 187, 187);
    border-radius: 25px;
    padding: 30px 0px;
    margin-bottom: 40px;
}

.navbar-center {
    display:flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: row;
 }
 .navbar-link,.navbar-item {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
 }
 .navbar-dropdown .navbar-item {
   justify-content:left;
 }	

.section {
    padding: 0;
}

.nav-title-container {
  width: 100%;
  display: inline-block;
  margin: auto;
  padding: 0;
}

.nav-title {
  font-family: "Varela Round", sans-serif;
  font-size: 75px;
  padding-left: 50px;
  display: inline-block;
  text-align: center;
  font-weight: normal;
}

.home-columns {
  margin: 25px;
}

.button.is-primary {
  background-color: #3273dc;
}

.add-text {
  font-size: 44px;
}

.table-profile {
    -webkit-mask-image: linear-gradient(to bottom, black 10%, transparent 90%);
    mask-image: linear-gradient(to bottom, black 10%, transparent 90%);
}

.footer {    
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 1.4rem 0 0.5rem;
    line-height: 25px;
    text-align: center;
    color: whitesmoke;
}

.vertical-center {
    flex-direction: row;
    min-height: calc(100vh - 136px);
}

.contact-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo-font {
    font-size: 35px;
    font-family: 'system-ui';
    text-align: center;
    font-weight: 800;
}

.logo-button {
    padding: 23px 9px;
}

.home-panels {
    min-height: calc(100vh - 145px);
    align-items: center;
}

.card {
    box-shadow: 0 1.5em 1em 0.500em rgba(10,10,10,.1), 0 0 0 4px rgba(10,10,10,0.02);
}